Repository lzaycoe/brainbox-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./test/**/*.ts"

update: add copyright notice to application source files
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
  test/app.e2e-spec.ts
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./test/**/*.ts"

add: implement GitHub Actions for commit, PR, and test validation
  .github/workflows/commit-msg-validation.yml
  .github/workflows/pr-validation.yml
  .github/workflows/test-coverage.yml
  sonar-project.properties
Due: none

delete: remove test coverage workflow and SonarQube configuration
  .github/workflows/test-coverage.yml
  sonar-project.properties
Due: none

add: implement test coverage workflow with Codecov integration
  .github/workflows/test-coverage.yml
Due: none

add: include Codecov badge in README for test coverage visibility
  README.md
Due: none

refactor: reorder imports in eslint configuration for clarity
  eslint.config.mjs
Due: none

add: create FUNDING.yml to support GitHub Sponsors
  .github/FUNDING.yml
Due: none

docs: include Prisma in the list of recommended VS Code extensions in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

add: update workflow names for consistency and clarity
  .github/workflows/commit-msg-validation.yml
  .github/workflows/pr-validation.yml
Due: none

add: implement release and publish workflow
  .github/actions/get-version/action.yml
  .github/workflows/release-and-publish.yml
Due: none

update: more safe for workflows when `pnpm install`
  .github/workflows/commit-msg-validation.yml
  .github/workflows/test-coverage.yml
Due: none

add: create Dockerfile and .dockerignore for containerization
  .dockerignore
  Dockerfile
Due: none

add: update `module-alias` dependency in package.json
  package.json
  pnpm-lock.yaml
Due: none

update: change release name in workflow for clarity
  .github/workflows/release-and-publish.yml
Due: none

docs: update environment variable table in CONTRIBUTING.md for clarity
  CONTRIBUTING.md
Due: none

update: add repository checkout step in release and publish workflows
  .github/actions/get-version/action.yml
  .github/workflows/release-and-publish.yml
Due: none

update: specifying shell in the step
  .github/actions/get-version/action.yml
Due: none

update: add version retrieval step in release and publish workflows
  .github/actions/get-version/action.yml
  .github/workflows/release-and-publish.yml
Due: none

update: modify version retrieval step in release workflow to use a script
  .github/actions/get-version/action.yml
  .github/workflows/release-and-publish.yml
Due: none

update: change permissions from read to write for contents in release workflow
  .github/workflows/release-and-publish.yml
Due: none

update: specify triggers workflows
  .github/workflows/release-and-publish.yml
  .github/workflows/test-coverage.yml
Due: none

update: update trigger for `Release and Publish` workflow
  .github/workflows/release-and-publish.yml
Due: none

update: add license for Dockerfile
  Dockerfile
Due: none

add: create `Build and Test` workflow
  .github/workflows/build-and-test.yml
Due: none

add: implement `prisma` for project
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/prisma.service.ts
Due: pnpm prettier --write "./src/**/*.ts"

add: install swagger
  package.json
  pnpm-lock.yaml
  src/swagger/setup.ts
  tsconfig.json
Due: pnpm prettier --write "./src/**/*.ts"

add: install `morgan` middleware
  package.json
  pnpm-lock.yaml
  src/middlewares/morgan.middleware.ts
  tsconfig.json
Due: pnpm prettier --write "./src/**/*.ts"

fix: fix e2e test
  test/app.e2e-spec.ts
Due: pnpm prettier --write "./test/**/*.ts"

add: install `@clerk/express`
  package.json
  pnpm-lock.yaml
Due: none

add: install `cookie-parser` & `@nestjs/config`
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/main.ts
Due: pnpm prettier --write "./src/**/*.ts"

delete: remove testing code & packages
  .github/workflows/build-and-test.yml
  .github/workflows/test-coverage.yml
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: pnpm prettier --write "./src/**/*.ts", pnpm prettier --write "./test/**/*.ts"

add: implement role-based access control with AuthGuard and Roles decorator
  src/auth/decorators/roles.decorator.ts
  src/auth/enums/role.enum.ts
  src/auth/guards/auth.guard.ts
Due: pnpm prettier --write "./src/**/*.ts"

docs: write documents in code
  src/app.module.ts
  src/main.ts
  src/middlewares/morgan.middleware.ts
  src/prisma.service.ts
  src/swagger/setup.ts
Due: pnpm prettier --write "./src/**/*.ts"

fix: enhance AuthGuard to support token extraction from Authorization header
  src/auth/guards/auth.guard.ts
Due: pnpm prettier --write "./src/**/*.ts"

feat: add global prefix and logging for server startup in main.ts
  src/main.ts
Due: pnpm prettier --write "./src/**/*.ts"

update: more scripts for prisma & update workflows
  .github/workflows/build.yml
  .github/workflows/release-and-publish.yml
  README.md
  package.json
  prisma/migrations/20250117032126_create_user_table/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

fix: update Dockerfile to include prisma installation and generate commands
  .editorconfig
  Dockerfile
  package.json
Due: none

update: update dependences
  package.json
  pnpm-lock.yaml
Due: none

docs: update guideline development
  CONTRIBUTING.md
Due: none

delete: reset all
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/auth/decorators/roles.decorator.ts
  src/auth/enums/role.enum.ts
  src/auth/guards/auth.guard.ts
  src/main.ts
  src/middlewares/morgan.middleware.ts
  src/swagger/setup.ts
Due: pnpm prettier --write "./src/**/*.ts"

Path conditions:
  pnpm prettier --write "./src/**/*.ts": any of: src/**/*.ts
  pnpm prettier --write "./test/**/*.ts": any of: test/**/*.ts
